<!DOCTYPE html>
<html>
  <head>
    <title>ModaMexico</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar is-black">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <%= image_tag("mm-logo.png", alt: "Moda Mexico Logo", :size => "120x180")%>
        <% end %>
      </div>
      <div id="navbarExample" class="navbar-menu is-justify-content-end">
        <div class="navbar is-black is-align-items-baseline mr-6">
          <div class="navbar-item button is-black is-align-self-center mt-5">
            <%= link_to 'NOTICIAS', root_path, class: "button is-black has-text-weight-bold" %>
          </div>
          <div class="navbar-item button is-black is-align-self-center mt-5">
            <%= link_to 'CALENDARIO', root_path, class: "button is-black has-text-weight-bold" %>
          </div>
          <div class="navbar-item button is-black is-align-self-center mt-5">
            <%= link_to 'DISENADORES', root_path, class: "button is-black has-text-weight-bold" %>
          </div>
          <div class="navbar-item button is-black is-align-self-center mt-5">
            <%= link_to 'ABOUT', root_path, class: "button is-black has-text-weight-bold" %>
          </div>
          <div class="navbar-item button is-black is-align-self-center mt-5">
            <%= link_to 'EQUIPO', root_path, class: "button is-black has-text-weight-bold" %>
          </div>
        </div>
    </nav>
    <main>
      <%= render 'layouts/alerts'%>
      <%= yield %>
    </main>
    <footer class="footer">
      <div class="content mt-5">
        <div>
          <%= link_to root_path, class: "navbar-item" do %>
            <%= image_tag("mm-logo.png", alt: "Moda Mexico Logo")%>
          <% end %>
        </div>
      </div>
      
    </footer>
    
  </body>
</html>
